<%= form_with(model: dieta, local: true) do |form| %>
  <% if dieta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dieta.errors.count, "error") %> prohibited this dieta from being saved:</h2>

      <ul>
      <% dieta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dataInicio %>
    <%= form.date_select :dataInicio %>
  </div>

  <div class="field">
    <%= form.label :dataFinal %>
    <%= form.date_select :dataFinal %>
  </div>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.text_field :usuario_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
