<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :admin %>
    <%= form.check_box :admin %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :peso %>
    <%= form.text_field :peso %>
  </div>

  <div class="field">
    <%= form.label :pesoIdeal %>
    <%= form.text_field :pesoIdeal %>
  </div>

  <div class="field">
    <%= form.label :altura %>
    <%= form.text_field :altura %>
  </div>
<%= f.fields_for :dieta do |dieta_form|%>
  <%= render "dieta_fields", f: dietas_form %>
<% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
