<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @usuario.admin %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @usuario.peso %>
</p>

<p>
  <strong>Pesoideal:</strong>
  <%= @usuario.pesoIdeal %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @usuario.altura %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
